form {
     margin: 25px;
}

label {
     font-size: larger;
}

input,
textarea {
     width: 100%;
}

.form-group {
     margin: 10px;
}

.btn {
     background: #1beae4;
}

h2 {
     text-align: center;
}